body {
    /* background-color: white; */
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
}

/* Header */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: rgba(254, 215, 186, 1);
    padding: 22px;

}

nav ul li a {
    font-size: 24px;
    margin-inline: 28px;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

ul li {
    list-style: none;
}

nav ul {
    margin-left: -10px;
    margin-top: 6px;
    justify-content: left;
    display: flex;
}

.logo img {
    height: 50px;
    margin-bottom: -30px;
    display: flex;
    margin-left: 350px;
    justify-content: center;
}

.icon {
    margin-left: 400px;
    justify-content: center;
}

.icon img {
    margin-left: 60px;
}


/* Home */
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: 
    rgba(254, 215, 186, 1);
}

/* Cata */

.col-1 {
    float: left;
    width: 30%;
    height: 1181px;
    margin-top: 80px;
    background-color: white;
    margin-right: 30px;
}

.Unicode{
    margin-left: 20px;
}


/* Cata-1 */
.col-1 .cata-1 {
    margin-inline: 28px;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
}


.col-1 .cata-1  li a {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: table;
    margin: 20px 0;
}

.cata-1 li a:hover {
    color: rgba(139, 0, 0, 1);
  }


/* cata-2 */
#faq-title {
    cursor: pointer;
    color: black;
    margin-inline: 66px;
    font-size: 32px;
    font-weight: 600;
}

.cata-2 {
    display: none;
   
}

.cata-2 a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 5px 119px;
    font-family: sans-serif;

}

#faq-title span{
    font-size: 32px;
    margin-top: 20px;
}

.cata-2 a:hover {
  color: rgba(139, 0, 0, 1);
}





/* Best Sellers */
.col-2 {
    float: left;
    width: 70%;
    height: 1260px;
    margin-inline: 30px;
    background-color: white;
  
}

.home {
    justify-content: center;
}


.col-2 .home .hometext h1 {
    background-color: rgba(210, 127, 127, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin-top: 136px;
    padding: 20px;
    margin-inline: 44px;
    
}

.col-2 .home .hometext h2 {
    font-family: sans-serif;
    font-weight: 400;
    text-align: left;
    margin-inline: 54px;
    font-size: 32px;
}




.col-2 .home .hometext p {
    font-family: sans-serif;
    font-weight: 400;
    text-align: left;
    margin-inline: 54px;
    font-size: 24px;
}

.col-2 .home .hometext {
    font-family: sans-serif;
    text-align: left;
    margin-inline: 54px;
    font-size: 35px;
}

.Thanks{
white-space: pre-line;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;
    align-content: center;
}

.footer-column {
    min-width: 200px;
    margin: 10px;
}


.footer-column h1 {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Nunito Sans", sans-serif;
    color: rgba(139, 0, 0, 1);
    font-weight: 600;
}

.footer-column p {
    margin: 5px 0;
    font-size: 24px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.footer-column p span {
    margin-inline: 6px;
}

.footer {
    background-image: url(Shop/Footer\ I.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*footer-Location */

.Location {
    display: flex;
}

.Location h1 {
    font-size: 30px;
    margin-left: 26px;
    color: rgba(139, 0, 0, 1);
}

.Path iframe {
    margin-left: 26px;
    margin-bottom: 44px;
}

/* Follow */
.Follow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Follow h1{
    color: rgba(139, 0, 0, 1);
    font-family: sans-serif;
}

.Follow img {
    margin-inline: 22px;
}



.footer,
.Location,
.Path, .Follow {
    background-image: url(Shop/Footer\ I.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* Last */
.Last {
    display: flex;
    justify-content: center;
    background-color: rgba(254, 215, 186, 1);
    color: rgba(139, 0, 0, 1);
    font-size: 30px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
}